mat-dialog-content {
  padding: 0 20px;
}

.container-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  // mat-form-field, button {
  //   width: 400px;
  // }
}

.grid {
  display: grid;
  gap: 10px;
}

.g-t-c {
  grid-template-columns: 1fr;

  &-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  &-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
