<h2 mat-dialog-title>Cadastro de doador</h2>
<mat-dialog-content>
  <form [formGroup]="formsNewDonor" class="grid">

    <div class="grid g-t-c-1">
      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input
        matInput
        placeholder="Ex: Maria Luiza"
        formControlName="fullName"
        minlength="3"
        maxlength="65">
        <mat-error>Insira o nome completo do doador.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        placeholder="Ex: andrew@gmail.com"
        formControlName="email">
        <mat-error>Insira um email válido.</mat-error>
      </mat-form-field>
    </div>

    <div class="grid g-t-c-1">
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthDate"
        minlength="7" maxlength="8"
        placeholder="Ex: MM/DD/YYYY">
        <mat-error>Insira uma data para cadastro.</mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value=0>Feminino</mat-option>
          <mat-option value=1>Masculino</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid g-t-c-2">
      <mat-form-field appearance="outline">
        <mat-label>Peso</mat-label>
        <input
        matInput
        placeholder="Ex. 75Kg"
        type="number" formControlName="weigth">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo Sanguíneo</mat-label>
        <mat-select formControlName="bloodtype">
          <mat-option value=0>A</mat-option>
          <mat-option value=1>B</mat-option>
          <mat-option value=2>AB</mat-option>
          <mat-option value=3>O</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fator RH</mat-label>
        <mat-select formControlName="rhfactor">
          <mat-option value=0>Positivo</mat-option>
          <mat-option value=1>Negativo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div formGroupName="address">
      <mat-form-field
        class="grid g-t-c"
        appearance="outline">
        <mat-label>Rua</mat-label>
        <input
        matInput
        placeholder="Ex. 100 Main St"
        formControlName="street">
      </mat-form-field>

      <div class="grid g-t-c-2">
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input
          matInput
          placeholder="Ex. Av. Paulista, 503"
          formControlName="city">
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state" required>
            <mat-option>--</mat-option>
            @for (state of states; track state.uf) {
              <mat-option [value]="state">{{state.uf}}</mat-option>
            }
          </mat-select>
          <mat-error>Escolha um estado.</mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>estado</mat-label>
          <mat-select formControlName="state">
            <mat-option value=SP>SP</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input
          matInput
          #postalCode
          maxlength="8"
          placeholder="Ex. 06515-003"
          formControlName="zipCode"
          required>
          <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
          <mat-error>Digite um CEP válido.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formsNewDonor.valid">Cadastrar</button>
</mat-dialog-actions>
